body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gainsboro;
}

.logo {
  display: flex;
  align-self: flex-end;
}

#Board {
  display: flex;
}

#card-container div {

  background: white;
  color: black;
  padding: 0em 0.3em 0em 1em;
  margin: 0.6em;
  display: flex;
  border-radius: 1vw;
  justify-content: space-between;
  align-items: center;
}

#card-container div:hover,.CheckList:hover {
  background-color: lightslategray;
  opacity: 0.2em;
  transition: 0.5s ease-out;
}

.lists {
  background-color: darkgray;
  width: 25%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: 1vw;
  top: 2vw;
}

.lists h1 {
  align-self: flex-start;
  padding-left: 0.5em;
}

.dlt-button {
  background-color: transparent;
  color: red;
  width: 8%;
  border: none;
  border-radius: 2vw;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.dlt-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

#add-item-text-area,
input {
  padding: 1em;
  align-self: flex-start;
  display: flex;
  border-radius: 0.5vw;
  border: none;
  text-align: center;
  flex-direction: column;
  width: 90%;
}

#add-item-text-area input {
  padding: 1em;
  align-self: flex-start;
}

#add-item-text-area input:hover, #add-item-text-area input:focus{
  background-color: aqua;
  transition: 3s ease-out;
}



button {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
  width: 50%;
  border: none;
  border-radius: 0.5vw;
  margin: 1em;
  align-self: flex-end;
  padding: 0.5em;
}

button:hover {
  background-color: green;
}

.cards {
  display: none;
}

.dlt-chklst-button {
  background-color: transparent;
  color: red;
  width: 8%;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;

}

h5{
  margin: 0;
}

.CheckList {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-radius: 1vw;
  margin-bottom: 0.5em;
  border: solid 1px black;
  flex-direction: column;
}

h6{
  padding-left: 1em;
}

.modal-body{
  background-color: lightblue;
}

.modal-header{
  background-color: gray;
}

.modal-footer{
  background-color: lightseagreen;
}

.btn{
  background-color: darkslategray;
  color: white;
  border: none;
}